<div class="footer">
    <div class="flex-container">
        <div class="footer-text">
            <div>Ma Yidong | 2016-</div>
            <a href="http://beian.miit.gov.cn/">京ICP备19034718号-1</div>
        </div>
    </div>
</div>