<div class="profile">
    <div class="post-content profile-content">
        <div class="profile-title">
            Hi! I am maajor
        </div>
        <div class="profile-body">
            <br>
            马工，软件开发者与咨询顾问，曾在网易游戏、育碧上海、太极图形工作，参与过多款手机游戏/3A游戏/SaaS软件/VR游戏的技术美术和客户端开发工作。合作联系微信 major0120
            <br>
            <br>
            兴趣/技能点: Unity 游戏开发/物理引擎/图形渲染/机器学习/网页全栈
            <br>
        </div>
        <% Object.keys(theme.profile.links).forEach(key=> { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>">
                    <%=key%>
                </a>
            </div>
            <% }); %>
    </div>

</div>