<div class="profile">
    <div class="post-content profile-content">
        <div class="profile-title">
            Hi! I am maajor
        </div>
        <div class="profile-body">
            I am building online editor && developing in-house art pipeline at <a
                href="https://taitopia.design">Taitopia Renderer.</a>
            <br>
            我在点石渲染器开发在线编辑器和美术管线
            <br>
            <br>
            I know nothing about GameDev, Computer Graphics, Machine Learning, Functional Programming,
            Typescript/React, C#/Unity and Python/Vex/Houdini
            <br>
            我对游戏开发、计算机图形学、机器学习、函数式编程、美术管线了解不多

        </div>
        <% Object.keys(theme.profile.links).forEach(key=> { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>">
                    <%=key%>
                </a>
            </div>
            <% }); %>
    </div>

</div>