<div class="profile">
    <div class="post-content profile-content">
        <div class="profile-title">
            Hi! I am maajor
        </div>
        <div class="profile-body">
            Indie developer & Freelancer working on projects in VR / AI / Gaming.
            <br>
            马工，软件开发者与咨询顾问，曾在网易游戏、育碧上海、太极图形工作，参与过多款手机游戏/3A游戏/SaaS软件/VR游戏的技术美术和客户端开发工作。合作联系微信 major0120
            <br>
            <br>
            I know nothing about GameDev, Computer Graphics, Machine Learning, Functional Programming,
            Typescript/React, C#/Unity and Python/Vex/Houdini
            <br>
            我对游戏开发、计算机图形学、机器学习、函数式编程、美术管线了解不多

        </div>
        <% Object.keys(theme.profile.links).forEach(key=> { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>">
                    <%=key%>
                </a>
            </div>
            <% }); %>
    </div>

</div>