<div class="profile">
    <div class="post-content profile-content">
        <div class="profile-title">
            Hi! I am maajor
        </div>
        <div class="profile-body">
            I am building online editor && developing in-house art pipeline at <a
                href="https://taitopia.design">Taitopia Renderer</a>
            <br><br>I know nothing about GameDev, Computer Graphics, Machine Learning, Functional Programming,
            Typescript/React, C#/Unity and Python/Vex/Houdini

        </div>
        <% Object.keys(theme.profile.links).forEach(key=> { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>">
                    <%=key%>
                </a>
            </div>
            <% }); %>
    </div>

</div>